html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2b2b2b;
    font-family: 'Montserrat', sans-serif;
}

.navigation {
    background-color: #2b2b2b;
    color: white;
    height: 50px;
}

.navigation ul {
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    text-align: right;
    height: 50px;
}

.navigation li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 100;
}

.capa {
    color: white;
}

.capa span {
    color: #f27609;
    display: block;
}

.capa div {
    display: inline-block;
    height: 650px;
}

.profile-pic {
    width: 40%;
    text-align: center;
}

.profile-pic img {
    width: 350px;
    border-radius: 350px;
    margin-top: 50px;
}

.profile-title {
    vertical-align: top;
    width: 59%;
}

.profile-title h1 {
    text-transform: uppercase;
    font-size: 58px;
    margin-top: 200px;
    font-weight: 400;
    line-height: 54px;
}

.profile-title h2 {
    font-size: 16px;
    font-weight: 100;
    margin-top: -26px;
}

.main {
    padding: 80px 180px 80px 100px;
}

.cv-pic {
    width: 280px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.main h1 {
    color: white;
    font-weight: normal;
}

.main h2 {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
}

.main h3 {
    color: #f27609;
    font-size: 12px;
    text-transform: uppercase;
}

.main p {
    color: white;
    font-size: 18px;
    font-weight: 100;
    line-height: 24px;
    text-align: justify;
}

.caminho {
    list-style: none;
    padding-left: 0;
    color: gray;
}

.caminho li {
    display: inline-block;
}

.social-img {
    width: 50px;
    margin-right: 10px;
}

.miniatura {
    width: 320px;
    height: 320px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
    background-size: contain;
    overflow: hidden;
}

.miniatura a {
    text-decoration: none;
}

.blackbox {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    padding-top: 120px;
}

.blackbox:hover {
    opacity: 0.8;
}

.blackbox-text {
    text-align: center;
}

.blackbox-text h1 {
    font-size: 16px;
    color: #f27609;
    text-transform: uppercase;
    margin-top: 0;
}

.blackbox-text h2 {
    text-transform: none;
    font-weight: 100;
    margin-top: 0;
}